<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>Ooops!</title>
</head>
<body>
	<div layout:fragment="header">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div layout:fragment="content">
		<h1>
			<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
			&nbsp;Página de Error</h1>

		<!--  As we are using Thymeleaf, you might consider using
	      ${#httpServletRequest.requestURL}. But that returns the path
	      to this error page.  Hence we explicitly add the url to the
	      Model in some of the example code. -->
		<p th:if="${url}">
			<b>Page:</b> <span th:text="${url}">Page URL</span>
		</p>

		<div class="alert alert-danger fade in">
			<strong>Error!</strong> Ha ocurrido un problema procesando su
			petición.
			<p>Si el problema persiste, contacte a su administrador.</p>
		</div>

		<div class="alert alert-warning fade in">
			<strong>Información del problema:</strong>
			<ul>
				<li th:if="${timestamp}" id='created'><b>En que momento?</b> <span
					th:text="${timestamp}">Timestamp</span></li>
				<li th:if="${status}"><b>Que pasó?</b> <span
					th:text="${status}">status-code</span> <span th:if="${error}"
					th:text="'('+${error}+')'">error ...</span></li>
				<li>
					<!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
				       ${exception} or ${message} are set internally by Spring Boot. */-->
					<div
						th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
						<b>Porqué?</b> <span th:if="${ex}" th:text="${ex}">exception
							...</span> <span th:if="${exception}" th:text="${exception}">exception
							...</span> <span th:if="${message} and ${message.length() != 0}"
							th:text="${message}">message ...</span>
					</div>
				</li>
				<li
					th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
					<p>Causa desconocida (no existe detalle del problema)</p>
				</li>
			</ul>
		</div>
		
	</div>
	<div layout:fragment="footer">
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>