<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div class="hero-unit">
    	<h1>Zumma</h1>
        <p>
            Bienvenido a la plataforma web contable!
            Para comenzar rapidamente registrese, y nos contactaremos con Ud.
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2017 Zumma - Plataforma Web Contable</div>
</div>

</body>
</html>