<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>Zumma | Usuarios</title>
</head>
<body>
	<div layout:fragment="header">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li><a href="#">Administración</a></li>
			<li class="active">Usuarios</li>
		</ol>
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h1>Usuarios <small>Listado de cuentas de usuario</small>
            </h1>
            <div class="navbar-form">
		            <a href="/user/create" class="btn btn-primary">Nuevo</a>
			        <input type="text" class="form-control" placeholder="Search" id="searchInput"/>
            </div>
		  </div>
		  <div class="panel-body" id="results">
			<script type="text/javascript">
			$(document).ready(function() {
				$('#searchInput').keypress(function (e) {
					  var value = $(this).val();	
					  if (e.which == 13) {
						  $.ajax({
					            url: '/users?find=' + value,
					            method: 'GET'
					        }).success(function(response) {
					        	$("#results").html( response );
					        });
					  }
					});
				$('.viewButton').click (function(e) {
			        var id = $(this).attr('data-id');
			        $.ajax({
			            url: '/user/' + id,
			            method: 'GET'
			        }).success(function(response) {
			            $("#modal_body").html( response );
			        });
				});
				$('.deleteButton').on('click', function() {
			        var id = $(this).attr('data-id');
			        var result = confirm("Está seguro de eliminar este usuario?");
			        if(result){
			        	$.ajax({
				            url: '/user/' + id,
				            method: 'DELETE'
				        });
			        }
				});
			});
			</script>
		    <table class="table table-hover table-condensed" id="rtable">
			    <thead>
			    <tr>
			    	<th>#</th>
			        <th>E-mail</th>
			        <th>Role</th>
			        <th>Ver</th>
			        <th>Editar</th>
			        <th>Eliminar</th>
			    </tr>
			    </thead>
			    <tbody>
			        <tr th:if="${page.content.empty}">
			            <td colspan="6">No users</td>
			        </tr>
			        <tr th:each="user : ${page.content}">
			       		<td th:text="${user.id}">NotFound</td>
			            <td th:text="${user.email}">NotFound</td>
			            <td th:text="${user.role}">NotFound</td>
			            <td><a href="" th:attr="data-id=${user.getId()}" data-toggle="modal" data-target="#viewUserModal" class="viewButton"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></td>
			            <td><a th:attr="href='/user/' + ${user.getId()} + '/edit'"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
			            <td><a href="" th:attr="data-id=${user.getId()}" class="deleteButton"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
			        </tr>
			    </tbody>
			</table>
		  <!-- Pagination Bar -->
			<div th:fragment="paginationbar">
			  <div class="panel-footer" align="right" id="paging">
			  <nav aria-label="Page navigation">
			    <ul class="pagination">
			      <li th:class="${page.firstPage}? 'disabled' : ''">
			        <span th:if="${page.firstPage}">←</span>
			        <a th:if="${not page.firstPage}" th:href="@{${page.url}(page.page=1,page.size=${page.size})}" title="Primera" >←</a>
			      </li>
			      <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
			        <span th:if="${not page.hasPreviousPage}">«</span>
			        <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page.page=${page.number-1},page.size=${page.size})}" title="Página previa">«</a>
			      </li>
			      <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
			        <span th:if="${item.current}" th:text="${item.number}">1</span>
			        <a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span th:text="${item.number}">1</span></a>
			      </li>
			      <li th:class="${page.hasNextPage}? '' : 'disabled'">
			        <span th:if="${not page.hasNextPage}">»</span>
			        <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size})}" title="Siguiente página">»</a>
			      </li>
			      <li th:class="${page.lastPage}? 'disabled' : ''">
			        <span th:if="${page.lastPage}">→</span>
			        <a th:if="${not page.lastPage}" th:href="@{${page.url}(page.page=${page.totalPages},page.size=${page.size})}" title="Última">→</a>
			      </li>
			    </ul>
			  </nav>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Modal View -->
		<div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Vista de usuario</h4>
		      </div>
		      <div class="modal-body" id="modal_body">
				<!-- dynamic content here -->
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<div layout:fragment="footer">
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
